<header class="flex items-center justify-between p-4 border-b border-gray-200 sticky top-0 bg-white z-10">
<span class="material-icons icon-md">arrow_back</span>
<h1 class="text-xl font-semibold">floresrefined</h1>
<div class="flex items-center space-x-3">
<span class="material-icons icon-md">notifications_none</span>
<span class="material-icons icon-md">more_vert</span>
</div>
</header>
<div class="p-4">
<div class="flex items-center justify-around border-b border-gray-200 pb-3">
<span class="material-icons icon-md text-black">grid_on</span>
<span class="material-icons icon-md text-gray-400">movie_creation</span>
<span class="material-icons icon-md text-gray-400">account_box</span>
</div>
<div class="grid grid-cols-3 gap-0.5 pt-0.5">
<div class="aspect-square bg-gray-200 relative">
<img alt="Pink flower arch over a white table setting" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAJAqlsGx_UCdf4AsWamwqHl_K4JcYOgcLa5NQDAYCoQhJyhrzKprTfwojHq2-M11LFY1sBPLX3CCat5dU__K-O_VrUvgGoVrxRzX0bGL3stYfgmF_1S6R_uE35iIEqPqiytW7lRjcQ0m1LeorHke2vr6sXqAm7sEu3AzB4EClxaFeSs2oGhxA7tdS3P2cXPjxcZ_HiGzPmLKxrrxeShhc92jhbtvxF14-Yu5djhe05BspDjMoPCA8Lrq4QT_kklAmekWGSZ5xp_6Ur"/>
<span class="material-icons text-white absolute top-2 right-2 text-sm">play_circle_outline</span>
</div>
<div class="aspect-square bg-gray-200">
<img alt="Pink flower arch with a white wedding cake" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuD0FBXEOHAdpBLMyLQi-fMsuLZ5RcAR49BJkZVPWftTd8o13cZpEZ0gHLVyRJYRn3Rw8fLxXn621VUIWNxExZK7yFUaCEDZADmxSVNZmqRcNJQkUiASy04QFrrOT-eQ1puYyLQDsBZZryWDyW9MuSdL_OOsp0g7dVMF-HMninMla0CVv59xMCXlR5ZVFPS-abtx959ccy2bywVofx9jBnMGhfuXB_aG-baGLj7MpShebeJfHJ4ma6k20xQBjV2zr6FHf8H6qywqfq56"/>
</div>
<div class="aspect-square bg-gray-200 relative">
<img alt="Pink flower arch with blue candles on a table" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCiv536dLMZ9oyx22Oy3D0Y-dc9tJtXSBSdB99RK2qZNJ1lC75MvOBg6Vv_HcXlmk0rqWNX0GohARVHLqofRyCniz7WT-UXL9-kBz2TxiuTFm9TpYuyfBk3RAbJbiNuR6JTCme8OUE5syTJrRtGeoUcEM4Tu5oibUqL_SYfhz_dF4KIBYS0xPIzhjmQJBGD9UEjNvuLfa35i1sq-3lcwgVicjOdMV5oeAavVHEPjcQ_fhn5b8oNgq2J8BJcZb3VU57mShMZYSTWnmIs"/>
<span class="material-icons text-white absolute top-2 right-2 text-sm">play_circle_outline</span>
</div>
<div class="aspect-square bg-gray-200 relative">
<img alt="Green leaf wall with an ornate gold mirror" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDmxz_sKoxlh6lpt5cDIke04MZLUb-Sf0sgf9qz5N0E5sllXvRyQgNelrqr8Sh0wOz9dCBPwSoS8pEGftekmktSC32ZuXYu5_5leO9QTqa0pu3xBVUKv9WH2ZBWX45tyrjYmEDS5PjV3zRRB8uieBrQ1FOgY_3ytcMBwcLoVTlXPtB4UZKMyEFNOLaXhYVtrP1SzFUVX2SQ0aYzAO39uPJMEetb3_CeCIfREgdqSpKhtXX0wZkdb_5L_GYhvIgsA5_hYRY6SnWojDhb"/>
<span class="material-icons text-white absolute top-2 right-2 text-sm">movie_creation</span>
</div>
<div class="aspect-square bg-gray-200 relative">
<img alt="Red rose arch over a draped entrance" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDpgndcFOlxfkjWplr9JFrZWVtLRtDvx9eugaS4zluJiBL-fb1gqGSkK602NKLaEgjm5HVHBFFj5kc9g_5_0-RHRDGiebQlKIpPy_vv91nNrKw8DB2R7mdHBWl6P1QLg2H3anpqruNXmI5mjxNg2M-2sObNs2YowoT2hCTz5VLtm3dOXV2t5Pp5kRsHmPV_wv_o_gwrcVIlLTAyVQGesLqF0awdSbwvJGTM7YU9u0E8VcXy4u7oTJsb9nj7nv3k5KzOGw3KCxiIx2fK"/>
<span class="material-icons text-white absolute top-2 right-2 text-sm">collections</span>
</div>
<div class="aspect-square bg-gray-200">
<img alt="Large red rose centerpiece on a table" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAt4cFxebNNRcfsYsD-KAVVxWTBXJ7LeGDPmita6nq5e6UHsnZIyNTUNE6yDM7JNJkydXasaywIHUXEr5VtZwvbjJVMlmBbtjj0vd5chHzKkGd6YstT2ISm2sQWnMYUZrUj2vRsZLZ16_vzsrWBEklkoO1czCI6FOin6VQcsqdfLe0YQW7VCxfWe8Sv_Icm35PU9j-FAKBVEZfSoZGQRiiQASEMgd-mxzUvOLsB_izViSak8Pe3ot502rMe5c2lZqvliKuAVr7IRWa2"/>
</div>
<div class="aspect-square bg-gray-200 relative">
<img alt="Purple and white flower centerpiece with purple candles" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAz1_5hXxmr0LcusGtpYNeWX8SHCrrGIYJiKe4IlKyEu45CfrnDEdRH-fBqPspxujEno1XvNIUC0adsuJhF-IMWbKInydevTHn6XWHUlvD-6KAoJi5IwSvydpJm3Vo-M_0VH7n3lNAzgb7b_aYbxKjggRKhqCJwpb6gOS77cVj0lduQB_Ftd5T5hkfDc4lQA4YAMAXbJA9SWLHbG5Cw0Qc-zFzf91Zpan8IZ4ROi50hf7VKpFIOJvEUmSaHWK6IzqZpj7P1mc0j7-Dt"/>
<span class="material-icons text-white absolute top-2 right-2 text-sm">play_circle_outline</span>
</div>
<div class="aspect-square bg-gray-200">
<img alt="Pastel flower arch over a pink table setting" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAnjxuzU2bNk1PE0nQMLyF8U27zUiaIjyO507BsaLDew3fSigKWtNqLyxjBpK1HcVhSlZrXNq3g8uQu9S2IZ8xOVL_qG7qvqdQNe-MqadN26o-NVpH350umbRa8qRKF1NQr1Xhn-NPh5Ul2MTQZxd87rvdZzYxB83ddMDznM9DhlK0asFGha9mPnVTzltt9ohvE3OL6Nig_J6yJK0l0ybDxgI_Rp1V-EsbAxYxaMckkWV1nIyrBhaIYkPh6pSbv-dYSInfHWECGIWQc"/>
</div>
<div class="aspect-square bg-gray-200">
<img alt="Blue and pink flower wall with a decorative vase" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCxIawDDWnQgascWFae4hhQrAba1DL1fl4qW0y03gzFNfooDVUsyFUEWYihtqn9sN-1AviMnFOecUtNu0DRsGS_i5oGVOhhTN7ElZZHgtx4E7KdxNP_voVyzYOOaLRY20mUQ2tAjh19lkjPTBay4DFxWctHapr1oBv7Glgm90xR80iD8Oa60aG8Y6WIIjjAusc23xRxZKxJxbrgADqHqSWngp0LCvcrx_-37OdwnY78BlOcsryuEwcaQZ0KKtiETst9Zh4sDbqfCx2F"/>
</div>
<div class="aspect-square bg-gray-200 relative">
<img alt="Pink and white flowers with white bows" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBSget9yUEkCe3h7URJYknQXs2SeY8lWBMfHhGgJKIRWuVmAubWr8DspY8SqoKvuVKiyITBnc7qeOs4E81Y9Mhvtur5iz6KNlD8pvf8sBi5yhl47XN9ZlzPElnDN-EyAczQ9qJPIJvoHhg6DJmsq5qwUmrGOhfKiKvcCsBNAXUDhvjSUA2Se85FbVBDA1iXISnwz7ZY5vkokgxfLh6QdpuKKF8OZe0MIF4cPPkn9XS3AZSr54K9L0X6YeDHhUTwJrzY80o_6CzeGrs7"/>
<span class="material-icons text-white absolute top-2 right-2 text-sm">movie_creation</span>
</div>
<div class="aspect-square bg-gray-200">
<img alt="Pink and white flowers against a textured wall" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAC57tLg_Xky2aNSioDsrYqX95A4Dbl55AzlEvlKxNOd_RFNfQDPeG05nU_dO-9OGhEelGYsoDpKjTCBECbvqgQ2zbMr9EfNqEK3c1THpFhxDSNG2MOeH-5EmL97Pq4XUB2AL4Dyt4PclMuqu8HvNmKd5_gY5o9uP-KYtPp28jo3RKZV5R1yCUD9jRGMkyCZag6K_z5yoa2JOuZZbn4vObaejZlBYfhxCTN4AMX82DB-gruktUAcATrF6CspYWckv4b7kRrAw9lgrfU"/>
</div>
<div class="aspect-square bg-gray-200 relative">
<img alt="Pink and white flowers outdoors" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBOGuF9VKr-WNZ9v-WjHhj56A8nz0Hou0NC9wz2WGAV70P4MKrQWnGsujyH_5Fy-3dV3Mr9LD3OMa6GA7oiF5to8Vq6c0fDfdZWQHWwnsqkq2iM1Cs_ekWUUBS_gGXAHqwtuIEqpxj2bha3GfLzqab2VASzzn9rRRFLmCjFzWNefrmKueTa5H9piQQ5cfswJDLxxRiPjI0fibm2aeM0ZGdTCGt_QyfeOTnDFIhKaw4bbpGY3VtMVB56sZuTUHitOMD9PgRY5WQjY8O0"/>
<span class="material-icons text-white absolute top-2 right-2 text-sm">movie_creation</span>
</div>
</div>
</div>
<nav class="fixed bottom-0 left-0 right-0 bg-white border-t border-gray-200 flex justify-around items-center p-3">
<span class="material-icons icon-lg text-black">home</span>
<span class="material-icons icon-lg text-gray-700">search</span>
<span class="material-icons icon-lg text-gray-700">add_circle_outline</span>
<span class="material-icons icon-lg text-gray-700">movie_creation</span>
<img alt="User avatar" class="w-8 h-8 rounded-full border border-gray-300" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDD6S38_9hsTsQgexz4zZ9jDGstZyUrQItR6A8chCcVLZ8updI26peICuOkZz2xjcP1Lc_SKjLMXGCJ8cjFQsmU1DpvyYic0GrIPIJMJ50A8sCMeKyGY5yu9i5bGwxbteKgxqbOrPaF6usGLUSdyJ2kjX1X_gCrdByVjwtkP3_91CWR9LraP8-Wn_YXFxZc5f9XwWOsEGrMu7EUi2IU6cmyBHwltGaJ9Zhyih59JWELIOaPZ3I-z9wp3VXiEon6ab0dS3p0PxswqWrR"/>
</nav>
<button class="fixed bottom-20 right-6 bg-blue-600 hover:bg-blue-700 text-white p-4 rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
<span class="material-icons icon-md">support_agent</span>
</button>
